@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oleo+Script+Swash+Caps&display=swap");
@font-face {
  font-family: Ghastly Panic;
  font-display: swap;
  src: url("../fonts/Ghastly Panic.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pfdintextcondpro;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  background-color: rgb(150, 150, 150);
  font-family: Koulen;
  color: #fff;
  font-size: 16px;
  min-width: 1200px;
}

.wrapper {
  height: 100%;
}

.header {
  display: flex;
  height: 120px;
  background-color: #fff;
  background-size: cover;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.header__content {
  justify-content: space-between;
  display: flex;
  width: 1200px;
}

.header__logo {
  justify-content: space-between;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.header__menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.header__title {
  display: flex;
  align-items: center;
  margin: 0 40px 0 0;
}

.header__title:nth-child(6) {
  margin: 0 20px 0 0px;
}

.header__link {
  display: flex;
  align-items: center;
  color: #212121;
}

.header__search {
  width: 17px;
  display: inline-block;
  margin: 0 5px;
}

.section__body {
  height: 650px;
  background-image: url(../img/wew/rectangle_1_4598.png);
  background-size: 100% 100%;
}

.section__content {
  width: 1200px;
  margin: 0 auto;
}

.section__content p:first-child {
  padding: 180px 0 30px 0;
  text-align: center;
  font-size: 60px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.07em;
  color: #fff;
}

.section__content p {
  padding: 0 0 110px 0;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.section__link {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  align-items: center;
  font-family: Roboto;
}

.section__lin {
  position: relative;
  top: 50%;
  left: 92%;
  color: #f8f8f8;
  border: 3px solid #f8f8f8;
  text-align: center;
}

.body-link-1 {
  margin: 0 25px 0 0;
  padding: 15px 30px;
  width: 200px;
  height: 70px;
}

.body-link-2 {
  padding: 15px 38.5px;
  width: 200px;
  height: 70px;
}

.section__lin:hover {
  border: 3px solid #00897b;
  background-color: #00897b;
}

.section__img {
  position: relative;
  margin: 180px 0 75px 0;
}

.section__image {
  position: absolute;
  left: 50%;
  top: 50%;
}

.main__about {
  background-color: #fff;
  height: 675px;
}

.etalon {
  padding: 125px 0 40px 0;
  text-align: center;
  font-size: 40px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #212121;
}

.section__text span {
  display: inline-block;
  text-align: center;
  width: 620px;
  height: 40px;
}

.text-all {
  width: 700px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #212121;
  text-align: center;
  margin: 0 auto;
}

.section__about-body {
  color: #000;
}

.section__row {
  margin: 120px 0;
}

.section__column {
  display: flex;
  justify-content: center;
}

.section__columns {
  display: flex;
}

.item__columns {
  margin: 0 130px 0 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.item__columns:last-child {
  margin: 0;
}

.item__columns img {
  margin: 0 0 40px 0;
  width: 60px;
  height: 60px;
}

.sidebar__text {
  width: 250px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  font-family: Roboto;
}

h2 {
  text-align: center;
  margin: 0px 0 20px 0;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.main__services {
  background-color: #e4fdf9;
}

.service {
  width: 100%;
  height: 1400px;
}

.section__row-ser {
  margin: 100px 0 0 0;
}

.service__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 0 0;
  width: 370px;
  height: 440px;
  background-color: #fff;
}

.img__tell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 62px;
  margin: 40px 0 40px 0;
  background: url("../img/wew/smartphone_copy_4948.png") no-repeat;
}

.service__body:hover .img__tell {
  background: url("../img/wew/smartphone_4947.png") no-repeat;
}

.service__body:hover {
  background-color: #00897b;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.34);
}

.service__body img {
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.mar {
  margin: 30px 0 0 0;
}

.sidebar__text {
  width: 280px;
  height: 95px;
  margin: 0 0 50px 0;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.08em;
  color: #212121;
}

.service__button {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: center;
  padding: 15px 0;
  width: 150px;
  height: 55px;
  margin: 0 0 50px 0;
  border: 2px solid #212121;
}

.service__button:hover {
  border: 2px solid #ffffff;
  color: #fff;
}
.service__button:hover .service__link {
  color: #fff;
}

.service__link {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.main__works {
  background-color: #fff;
}

.section__works-body {
  height: 1600px;
}

.menu-works-all ul {
  display: flex;
  justify-content: center;
}

.menu-works-1 a {
  display: flex;
  margin: 110px 20px 120px 0;
  border: 2px solid #00897b;
}

.works-link {
  padding: 20px 30px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
}

.works-link:hover {
  background-color: #00897b;
  color: #ffffff;
}

.section__gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.section__gallery-img {
  margin: 0px 30px 30px 0px;
}

.mar2 {
  margin: 0 0 30px 0;
}

.section__gallery-img img {
  width: 370px;
  height: 370px;
}

.gallery-img {
  position: relative;
}

.section__subtitle-1,
.section__subtitle {
  visibility: hidden;
  opacity: 0;
}

.section__gallery-img:hover .bg {
  background: rgba(150, 150, 150, 0.4);
}
.section__gallery-img:hover .section__subtitle,
.section__gallery-img:hover .section__subtitle-1 {
  visibility: visible;
  opacity: 1;
}

.section__subtitle {
  color: rgb(255, 255, 255);
  top: 45%;
  left: 36.5%;
  font-size: 20px;
  letter-spacing: 0.08em;
  position: absolute;
}

.section__subtitle-1 {
  top: 50.5%;
  left: 38%;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-family: Roboto;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(150, 150, 150, 0);
}

.works__button {
  position: relative;
  left: 40.8%;
  width: 220px;
  margin: 100px 0 140px 0;
}

.works__button a {
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 30px 60px;
  border: 2px solid #00897b;
}

.works__button a:hover {
  background-color: #00897b;
  color: #ffffff;
}

.prising {
  background-color: #f0f0f0;
  height: 1150px;
}

.section__flex {
  margin: 120px 0 0 0;
  display: flex;
  justify-content: space-around;
}

.section__body-basic {
  position: relative;
  width: 370px;
  height: 100%;
  min-height: 670px;
  background-color: rgb(255, 255, 255);
}

.section__body-basic:hover {
  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.34);
}

.section__basic-header {
  border-top: 185px solid #3949ab;
  border-left: 370px solid #3949ab;
  border-bottom: 30px solid transparent;
}

.basic__header-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(40% - 210px);
  left: calc(45% - 170px);
  right: 0;
  font-family: Roboto;
  font-size: 25px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.basic__header-2 {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(47% - 210px);
  left: calc(47% - 170px);
  right: 0;
  letter-spacing: 0.05em;
}

.section__basic-header span:nth-child(1) {
  padding: 0 0 25px 0;
  font-size: 19px;
}

.section__basic-header span:nth-child(2) {
  font-size: 50px;
}

.section__basic-header span:nth-child(3) {
  font-size: 18px;
  padding: 10px 0 0 0;
}

.basic__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 0 0;
}

.basic__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 60px;
  border-bottom: 1px solid #000;
  font-family: Roboto;
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #212121;
}

.basic__button {
  margin: 65px 0 0 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.basic__link {
  width: 180px;
  height: 60px;
  border: 2px solid #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.basic__link:hover {
  border: 2px solid #00897b;
  background-color: #00897b;
  color: #ffffff;
}

.member {
  height: 1100px;
  background-color: #ffffff;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin: 0 0 30px 0;
}

.image-slider {
  max-width: 800px;
  padding: 125px 0 30px 0;
}

.swiper {
  margin: 0 auto;
  min-width: 100%;
}

.image-slider__slide {
  width: 370px;
  min-height: 500px;
}

.swiper-slide {
  width: 370px;
  height: 500px;
  margin: 0 0 125px 0;
}

.image-slider__image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.image-slider__image img {
  margin: 0 0 35px 0;
  max-width: 500px;
  overflow: hidden;
  object-fit: contain;
  object-position: 0px 0px;
}

.image-slider.swiper-button-prev::after,
.image-slider.swiper-button-next:after {
  color: rgb(0, 0, 0);
  font-size: 80px;
}

.swiper-button-prev::before {
  content: "";
  border: solid rgb(138, 138, 138);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  color: #000;
}

.swiper-button-next::before {
  content: "";
  border: solid rgb(138, 138, 138);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  color: #000;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  background-color: #00897b;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  background-color: #00897b;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
  background-color: #00897b;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev {
  background-color: #00897b;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background-color: #3949ab;
}

.image-slider .swiper-scrollbar {
  text-align: center;
  cursor: pointer;
  height: 5px;
  background-color: rgb(219, 219, 219);
}

.image-slider .swiper-scrollbar-drag {
  background-color: rgb(192, 192, 192);
}

.name {
  display: block;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #212121;
  margin: 0 0 10px 0;
}

.position {
  display: block;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: #212121;
  margin: 0 0 30px 0;
}

.subn {
  font-family: Roboto;
  text-align: center;
}

.icon__position {
  justify-content: center;
  display: flex;
}

.icon__position .net:last-child {
  margin: 0;
}

.net {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px 0 0;
  width: 50px;
  height: 50px;
  background-color: #f0f1f1;
  border-radius: 10px;
}

.net__fac {
  width: 18px;
  height: 30px;
  background: url("../img/icon/f-g.png") no-repeat;
}

.face:hover {
  background-color: #3949ab;
}
.face:hover .net__fac {
  background: url("../img/icon/f-w.png") no-repeat;
}

.net__twi {
  width: 26px;
  height: 26px;
  background: url("../img/icon/t-g.png") no-repeat;
}

.twit:hover {
  background-color: #18b2ff;
}
.net__mes {
  width: 31px;
  height: 29px;
  background: url("../img/icon/m-g.png") no-repeat;
}

.mesag:hover {
  background-color: #35e400;
}
.net__bol {
  width: 27px;
  height: 27px;
  background: url("../img/icon/b-g.png") no-repeat;
}

.boll:hover {
  background-color: #eaff00;
}
.blog {
  color: #000;
  width: 100%;
  height: 1869px;
  background-color: #e4fdf9;
}

.section__blog-1 {
  margin: 130px 0 0 0;
  display: flex;
}

.blog__image-1 {
  min-width: 570px;
  height: 400px;
  margin: 0 30px 0 0;
}

.blog__title-1 {
  margin: 60px 0 25px 0;
  font-family: Roboto;
  font-size: 25px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__title-1 a {
  color: #212121;
}

.blog__title-1 a:hover {
  color: #00897b;
}

.blog__data-1 {
  margin: 0 0 30px 0;
}

.blog__calendar-after {
  font-size: 17px;
  line-height: 22px;
  font-family: Roboto;
  margin: 0 30px 0 0px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__calendar-after::before {
  content: "";
  position: relative;
  top: 2px;
  padding: 0px 0px 0 30px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("../img/icon/cal.png") no-repeat;
}

.blog__file-after {
  font-size: 17px;
  line-height: 22px;
  font-family: Roboto;
  margin: 0 0px 0 25px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__file-after::before {
  content: "";
  position: relative;
  top: 2px;
  padding: 0px 0px 0 30px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("../img/icon/fil.png") no-repeat;
}

.blog__paragraph-1 {
  max-width: 450px;
  display: inline-block;
  font-family: Roboto;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #212121;
}

.section__blog-2 {
  display: flex;
  margin: 0px 0 0 0;
}

.blog__image-2 {
  min-width: 570px;
  height: 400px;
  margin: 0 0px 0 145px;
}

.blog__title-2 {
  margin: 60px 0 30px 0;
  font-family: Roboto;
  font-size: 25px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__title-2 a {
  color: #212121;
}

.blog__title-2 a:hover {
  color: #00897b;
}

.blog__data-2 {
  margin: 0 0 30px 0;
}

.blog__calendar-after {
  font-size: 17px;
  line-height: 22px;
  font-family: Roboto;
  margin: 0 30px 0 0px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__calendar-after::before {
  content: "";
  position: relative;
  top: 2px;
  padding: 0px 0px 0 30px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("../img/icon/cal.png") no-repeat;
}

.blog__file-after {
  font-size: 17px;
  line-height: 22px;
  font-family: Roboto;
  margin: 0 0px 0 25px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__file-after::before {
  content: "";
  position: relative;
  top: 2px;
  padding: 0px 0px 0 30px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("../img/icon/fil.png") no-repeat;
}

.blog__paragraph-2 {
  max-width: 450px;
  display: block;
  font-family: Roboto;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #212121;
}

.section__blog-3 {
  margin: 0px 0 0 0;
  display: flex;
}

.blog__image-3 {
  min-width: 570px;
  height: 400px;
  margin: 0 30px 0 0;
}

.blog__title-3 {
  margin: 60px 0 25px 0;
  font-family: Roboto;
  font-size: 25px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__title-3 a {
  color: #212121;
}

.blog__title-3 a:hover {
  color: #00897b;
}

.blog__data-3 {
  margin: 0 0 30px 0;
}

.blog__calendar-after {
  font-size: 17px;
  line-height: 22px;
  font-family: Roboto;
  margin: 0 30px 0 0px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__calendar-after::before {
  content: "";
  position: relative;
  top: 2px;
  padding: 0px 0px 0 30px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("../img/icon/cal.png") no-repeat;
}

.blog__file-after {
  font-size: 17px;
  line-height: 22px;
  font-family: Roboto;
  margin: 0 0px 0 25px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.blog__file-after::before {
  content: "";
  position: relative;
  top: 2px;
  padding: 0px 0px 0 30px;
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url("../img/icon/fil.png") no-repeat;
}

.blog__paragraph-3 {
  max-width: 450px;
  display: inline-block;
  font-family: Roboto;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #212121;
}

.blog__button {
  text-align: center;
  margin: 120px 0 120px 0;
}

.blog__button a {
  font-family: Roboto;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #000000;
  display: inline-block;
  width: 220px;
  height: 70px;
  padding: 25px 25px;
  border: 2px solid #000000;
}

.blog__button a:hover {
  color: #fff;
  border: 2px solid #00897b;
  background: #00897b;
}

.contact {
  height: 1254px;
  background-color: #212121;
}

.con {
  color: #fff;
}

.con {
  color: #fff;
}

.contact__row {
  display: flex;
  justify-content: space-around;
  margin: 100px 0 0px 0;
}

.contact__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 220px;
  text-align: center;
  margin: 0 0 80px 0;
}

.contact__maps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #3949ab;
}

.contact__maps img {
  width: 44px;
  height: 62px;
  display: block;
}

.contact__text {
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.contact__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #3949ab;
}

.contact__phone img {
  width: 62px;
  height: 62px;
  display: block;
}

.contact__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 0;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #3949ab;
}

.contact__mail img {
  width: 62px;
  height: 44px;
  display: block;
}

.contact__form {
  margin: 0 auto;
  width: 1030px;
  height: 550px;
}

.contact__input {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.name-form {
  padding: 0 0 0 20px;
  font-family: Roboto;
  width: 500px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.mail {
  padding: 0 0 0 20px;
  font-family: Roboto;
  width: 500px;
  height: 84px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.text-area {
  padding: 30px 0px 0 20px;
  width: 1031px;
  min-height: 323px;
  font-family: Roboto;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.contact__button {
  display: flex;
  justify-content: end;
  margin: 40px 0 0 0;
}

.button-submit {
  width: 220px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
}

.footer {
  background-color: #fff;
}

.footer__text {
  padding: 20px 0 20px 0;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
}